<nav class="navbar navbar-expand-lg" style="background-color: #515463; padding: 15px;">
  <div style="display: flex; width: 100%;">

    <div class="row" style="display: flex; min-width: 85%;">
      <div class="col col-3">
        <input type="text" class="form-control" placeholder="Correo" #userName required>
      </div>

      <div class="col col-3">
        <input type="password" class="form-control" placeholder="Contraseña" #userPassword required>
      </div>

      <div class="col col-4">
        <div class="row" style="display: flex; align-items: center;">
          <div class="col col-4">
            <input type="button" class="btn" style="background-color: #72828E; color: #fff" value="Entrar"
              (click)="authService.SignIn(userName.value, userPassword.value)">
          </div>
          <div class="col col-8">
            <div class="forgotPassword" style="margin-left: -15px;">
              <a style="color:#fff; cursor: pointer;" (click)="showFModal()">olvidaste tu contraseña?</a>
              <div *ngIf="showForgotModal">
                <app-forgot-password></app-forgot-password>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" style="text-align: end;">
      <a href="#" class="navbar-brand">
        <img src="https://toppng.com/uploads/preview/red-circle-1155276042606ekqvli9k.png" alt="" width="30"
          height="30">
      </a>
    </div>
    
  </div>
</nav>

<div class="container-fluid p-0">
  <div class="row" style="height: 100vh;">
    <div class="col back">

      <div class="container-fluid p-0 m-0" style="display: flex;  height: 40%;">
        <div class="row text-white" id="contenido">
          <h1>Consultorio Jurídico</h1>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Harum odit, recusandae ipsa maxime nesciunt voluptates blanditiis
            nostrum fugit est sit impedit! Dolore ut ad ducimus minima, modi ipsum in accusantium 
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Harum odit, recusandae ipsa maxime nesciunt voluptates blanditiis
            nostrum fugit est sit impedit! Dolore ut ad ducimus minima, modi ipsum in accusantium 
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Harum odit, recusandae ipsa maxime nesciunt voluptates blanditiis
            nostrum fugit est sit impedit! Dolore ut ad ducimus minima, modi ipsum in accusantium.</p>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- <div class="display table">
  <div class="display table-cell">
    <div class="authBlock">
      <h3>Iniciar Sesion</h3>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Correo" #userName required>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Contraseña" #userPassword required>
      </div>
      LLamado a la Api de inicio de sesion firebase 
      <div class="form-group">
        <input type="button" class="btn btnPrimary" value="Iniciar sesion"
          (click)="authService.SignIn(userName.value, userPassword.value)">
      </div>


    </div>
    <div class="redirectToLogin">
      <span>No tienes una cuenta?<span class="redirect" routerLink="/register-user"> Inscribete</span></span>
    </div>
  </div>
</div>-->