<!-- Top navigation -->
<nav class="navbar navbar-expand-lg" style="background-color: #515463; padding: 15px;">
  <div style="display: flex; justify-content: space-between; width: 100%;">
    <h2 class="text-white">Bandeja de entrada</h2>
    <a href="#" class="navbar-brand">
      <img src="https://toppng.com/uploads/preview/red-circle-1155276042606ekqvli9k.png" alt="" width="30" height="30">
    </a>
  </div>
</nav>
<!-- Sidebar navigation -->
<div class="container-fluid">
  <div class="row">
    <aside class="col-3 pt-3 text-center d-flex"
      style="background-color: #72828E; height: 100vh; justify-content: center;">
      <ul class="column p-0" style="list-style-type: none; color: #fff; font-size: 25px;">
        <li class="list-group">
          <h1 class="h1">Bienvenido</h1>
        </li>
        <li style="margin: 25% 0">
          <h2 class="text-start">Filtros:</h2>
          <h5 class="text-start">Solicitudes por pagina: {{cantiSoli}}</h5>

          <mat-slider style="width: 100%; color:#fff" thumbLabel tickInterval="10" step="1" min="3" max="10"
            [(ngModel)]="cantiSoli" aria-label="units"></mat-slider>
          <h5 class="text-start">Por estado: {{filtroEstado}}</h5>
          <select class="form-select" name="festados" id="festados" (change)="getSolicitudesFiltradas($event)">
            <option selected>--SELECCIONE--</option>
            <option *ngFor="let s of listaEstados" value="s.id" [value]="s.name">
              {{s.name}}
            </option>
          </select>
          <button type="button" class="btn" style="background-color: #ffffff; color: #72828E; margin-top: 25px;"
            (click)="restablecer()">
            Borrar filtros
          </button>
        </li>
        <!-- Llamado SignOut() Api de AuthService -->
        <li class="list-group">
          <div class="redirectToLogin">
            <button class="btn" style="background-color: #ffffff; color: #72828E;" (click)="anadir()">Añadir
              Usuario </button>
            <div *ngIf="signup">
              <app-sign-up></app-sign-up>
            </div>
          </div>
          <button class="btn" style="background-color: #ffffff; color: #72828E;
           margin: 25px 50px 0px 50px;" (click)="authService.SignOut()">Cerrar
            sesión</button>
        </li>
      </ul>
    </aside>
    <!-- Main content -->
    <main role="main" class="col-9" style="color: #707070;">
      <div class="inner-adjust">
        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Solicitudes</h1>
        </div>
        <!-- Show user data when logged in -->

        <mat-spinner [ngStyle]="{'opacity':showSpinner}" style="border-radius: 10px; background-color: rgba(0, 0, 0, 0.242); position: absolute; 
        width: 73.5vw; height: 44vh; transition: opacity 0.35s; z-index: -1;"></mat-spinner>
        <div class="row" *ngIf="authService.userData as user">
          <div class="col-md-12">
            <div class="media" style="overflow: auto">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descargar</th>
                    <th scope="col">Estado</th>
                    <th> </th>
                  </tr>
                </thead>
                <tbody>
                  <div class="text-center" *ngIf="boolEstado"><strong>Sin contenido aún</strong></div>
                  <tr *ngFor="let soli of solicitud | paginate: { itemsPerPage: cantiSoli, currentPage: page}">
                    <th scope="row">{{soli.uid}}</th>
                    <td>{{soli.nombre}}</td>
                    <td>
                      <button style="background-color: #72828E;" class="btn text-white"
                        (click)="generarPdf(soli.uid)">Ver más</button>
                    </td>
                    <td>
                      {{soli.estado}}
                    </td>
                    <td>
                      <button style="background-color: #72828E;" type="button" class="btn text-white"
                        (click)="openPopupEstado(soli.uid)">Cambiar
                      </button>
                      <div class="modal text-dark rounded" style=" background-color: rgba(0, 0, 0, 0.2);" tabindex="-1"
                        role="dialog" [ngStyle]="{'display':displayStyle}">
                        <div class="modal-dialog" role="document" style="margin: 16.75rem auto;">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Cambiar estado</h4>
                            </div>
                            <div class="modal-body">
                              <p><strong>Solicitud:</strong> {{uid}}</p>
                              <select class="form-select" name="estados" id="estados" (change)="asignarEstado($event)">
                                <option selected>--SELECCIONE--</option>
                                <option *ngFor="let s of listaEstados" value="s.id" [value]="s.name">
                                  {{s.name}}
                                </option>
                              </select>
                            </div>
                            <div class="modal-footer">
                              <div class="row">
                                <div class="col">
                                  <button type="button" class="btn text-white" style="background-color: #72828E;"
                                    (click)="closePopupEstado(uid , estado)">
                                    Guardar
                                  </button>
                                </div>
                                <div class="col">
                                  <button type="button" class="btn text-white" style="background-color: #72828E;"
                                    (click)="cancelarPopUpEstado()">
                                    Cancelar
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="modal text-dark rounded" style=" background-color: rgba(0, 0, 0, 0.2);" tabindex="-1"
                role="dialog" [ngStyle]="{'display':pdfStyle}">
                <div class="modal-dialog" role="document" style="min-width: 600px; margin: 16.75rem auto;">
                  <div class="modal-content">
                    <div class="modal-body" style="width: 100%;">
                      <div id="htmlData" class="row" style="display: inline-flex; line-height: 34px;">
                        <div class="col-12">
                          <img src="https://toppng.com/uploads/preview/red-circle-1155276042606ekqvli9k.png" alt=""
                            width="30" height="30">
                          <h3 class="text-center">Informacion de usuario</h3>
                          <hr>
                        </div>
                        <div class="col-6">
                          <span><strong>ID:</strong>{{pdfSoli._uid}}</span><br>
                          <span><strong>NOMBRE:</strong>{{pdfSoli.nombre}}</span><br>
                          <span><strong>SALARIO:</strong>{{pdfSoli.salario}}</span><br>
                          <span><strong>EDAD:</strong>{{pdfSoli.edad}}</span><br>
                          <span><strong>BARRIO:</strong>{{pdfSoli.barrioResidencia}}</span><br>
                        </div>
                        <div class="col-6">
                          <span><strong>DIRECCION: </strong>{{pdfSoli.direccionCasa}}</span><br>
                          <span><strong>TELEFONO: </strong>{{pdfSoli.telefonoCasa}}</span><br>
                          <span><strong>DIRECCION DE TRABAJO: </strong>{{pdfSoli.direccionTrabajo}}</span><br>
                          <span><strong>EMAIL: </strong>{{pdfSoli.email}}</span><br>
                          <span><strong>DESCRIPCION: </strong>{{pdfSoli.descripcionConsulta}}</span><br>
                        </div>
                      </div>
                      <div class="col-12" style="justify-content: center;">
                      </div>
                    </div>
                    <div class="modal-footer">
                      <div class="row">
                        <div class="col">
                          <button style="background-color: #72828E;" class="btn text-white text-center"
                            (click)="downloadPDF()">Descargar</button>
                        </div>
                        <div class="col">
                          <button type="button" class="btn text-white" style="background-color: #72828E;"
                            (click)="cancelarPopUpEstado()">
                            Cancelar
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <pagination-controls class="my-pagination" (pageChange)="page = $event" previousLabel="Anterior"
              nextLabel="Siguiente" [responsive]="true">
            </pagination-controls>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<!-- 
<main role="main" class="col-9"  style="color: #707070;">
  <div class="inner-adjust">
    <div class="pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Solicitudes</h1>
    </div>
    Show user data when logged in 
    <div class="row" *ngIf="authService.userData as user">
      <div class="col-md-12">
        <div class="media">
          <img class="align-self-start mr-5 img-thumbnail rounded-circle"
            src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}" alt="{{user.displayName}}">
          <div class="media-body">
            <h1>Hola: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
            <p>User ID: <strong>{{user.uid}}</strong></p>
            <p>Email: <strong>{{user.email}}</strong></p>
            <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main> -->