<nav class="navbar navbar-expand-lg" style="background-color: #515463; padding: 15px;">
  <div style="display: flex; width: 100%;">

    <div class="row" style="display: flex; min-width: 85%; color: #fff">
      <div class="col">
        <h3>Restrablecer contraseña</h3>

      </div>
    </div>
    <div class="container" style="text-align: end;">
      <a href="#" class="navbar-brand">
        <img src="https://toppng.com/uploads/preview/red-circle-1155276042606ekqvli9k.png" alt="" width="30"
          height="30">
      </a>
    </div>
  </div>
</nav>

<div class="display table">
  <div class="display table-cell">
    <div class="authBlock">
      <div class="container">
        <h4>Ingresa tu correo electronico para restablecer la contraseña</h4>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Correo electronico" #passwordResetEmail required>
        </div>
        <!-- Calling ForgotPassword from AuthService Api -->
        <div class="form-group">
          <input type="submit" class="btn" style="background-color: #72828E; color: #fff; margin: 10px 0px;"
            value="Restrablecer contraseña" (click)="authService.ForgotPassword(passwordResetEmail.value)">
        </div>
        <div class="redirectToLogin">
          <span class="redirect" routerLink="/sign-in" style="cursor: pointer;">Regresar</span>
        </div>
      </div>
    </div>
  </div>
</div>

