<div class="modal text-dark rounded" style=" background-color: rgba(0, 0, 0, 0.2);" tabindex="-1" role="dialog"
  [ngStyle]="{'display': visible}">
  <div class="modal-dialog" role="document" style="min-width: 600px; margin: 10% auto;">
    <div class="modal-content">
      <div class="modal-body" style="width: 100%;">
        <div id="htmlData" class="row" style="line-height: 34px;">
          <div class="col-12">
            <img src="../../../assets/Icons/Icono.svg" alt="" width="40">
            <h3 class="text-center">Restrablecer contraseña</h3>
            <hr>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Correo electronico" #passwordResetEmail required>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <input type="submit" class="btn" style="background-color: rgb(112, 6, 0); border-radius: 20px; color: #fff;"
                value="Restrablecer contraseña" (click)="authService.ForgotPassword(passwordResetEmail.value)">
            </div>
          </div>
          <div class="col">
            <button class="btn text-white" style="background-color: rgb(112, 6, 0); border-radius: 20px;" (click)="signin.hiddenFModal()">Volver</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>